# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出人口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [102]:
import pandas as pd
import numpy as np

In [103]:

popu = np.random.randint(50000000,size=3)
print(popu)
data = {'countries':['台灣','日本','美國'] ,'population': popu }
data_df = pd.DataFrame(data)
data_df

[15725874  4229916 44678828]

  countries  population
0        台灣    15725874
1        日本     4229916
2        美國    44678828

In [104]:
data_df.loc[data_df.population.idxmax()]

countries           美國
population    44678828
Name: 2, dtype: object